//
//  Licensed Materials - Property of IBM
//  © Copyright IBM Corporation 2015. All Rights Reserved.
//  This sample program is provided AS IS and may be used, executed, copied and modified without royalty
//  payment by customer (a) for its own instruction and study, (b) in order to develop applications designed to
//  run with an IBM product, either for customer's own internal use or for redistribution by customer, as part
//  of such an application, in customer's own products.
//

$yellow: #fdd600;
$light-yellow: #fde876;
$gold-stroke: #efc100;
$gray-text: #645a5a;
$dark-gray-text: #5a5a5a;
$gray-date-text: #9e9494;
$light-gray-text: #aeaeae;
$light-gray-link: #d3d3d3;
$warm-gray-background: #c9c2c2;
$light-gray-background: #f4f4f4;
$gray-stroke: #b8aeae;
$gray-graph-bar: #ececec;
$gray-graph-line: #f2f2f2;
$gray-threshold-line: #d6d6d6;
$gray-dot: #ccc;
$orange-text: #ff7832;
$white-background: #fdfdfd;
$white: #fff;
$black: #000;
$dark-gray: #222;
$btn-backround: #5cb85c;
$btn-border: #4cae4c;
$gainsboro: #dcdcdc;
