<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>protocol</key>
	<string>http</string>
	<key>host</key>
	<string>9.41.138.115</string>
	<key>port</key>
	<string>10080</string>
	<key>wlServerContext</key>
	<string>/PerchReadyApp/</string>
	<key>application id</key>
	<string>Perch</string>
	<key>application version</key>
	<string>1.0</string>
	<key>environment</key>
	<string>iphone</string>
	<key>buildtime</key>
	<string></string>
	<key>authenticitySharedData</key>
	<string>${authenticitySharedData}</string>
	<key>testWebResourcesChecksum</key>
	<string>false</string>
	<key>ignoredFileExtensions</key>
	<string></string>
	<key>wlMainFile</key>
	<string>index.html</string>
	<key>wlUid</key>
	<string>F4KY7e7NCJcA4NDi3+d4VA==</string>
	<key>platformVersion</key>
	<string>6.3.0.0</string>
	<key>wlAppFamily</key>
	<string></string>
	<key>wlShareCookies</key>
	<string></string>
	<key>wlShareUserCert</key>
	<string>false</string>
	<key>wlSecureDirectUpdatePublicKey</key>
	<string></string>
</dict>
</plist>
